*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.aside{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: #040b14;
    overflow-y: auto;
}
.main-body{
margin-left:250px;
}
#about{
    height:100vh;
    margin-left:300px;
}
.pmNav ul li{
list-style: none;
}
.pmNav ul li a,.pmNav ul li a .active{
text-decoration: none;
color:#fff;
}